.origtitle {
    font-style: italic;
}

.icons-iconswrap {
    clear: left;
    border: 1px #ccc solid;
    background-color: #eee;
    height: 100%;
}

.icons-icondescription {
    /*float : left;*/
    margin: 4px;
    padding: 4px;
}

.icons-icontitle {
    font-weight: bold;
    font-size: 115%;
}

.icons-data {
    float: left;

}

.icons-iconimage {
    float: left;
    margin: 4px;
    padding: 4px;
    background-color: #fff;
    border: 1px #ccc solid;
}

.icons-owner {

}

.icons-comment {

}

.icons-backlink {
    clear: left;

}

.icons-occurences {
    float: none;
    clear: both;
}

.icons-occwrap-even, icons-occwrap-odd {
    clear: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.icons-occwrap-even {
    background-color: #f8f8f8;
}

.occurences-headline {

}

.occ-data {

}

.occ-bookdata {

}

.icons-occdata {

}
